<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645183196811-fetmq85e7alknc9rnk4agla5rnhb302j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645183196811-fetmq85e7alknc9rnk4agla5rnhb302j</string>
	<key>API_KEY</key>
	<string>AIzaSyAckUYEkElvGvLVq4u5oeDRhNMBjLIBrhA</string>
	<key>GCM_SENDER_ID</key>
	<string>645183196811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationFlutterBloc</string>
	<key>PROJECT_ID</key>
	<string>auth-flutter-2029a</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-flutter-2029a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645183196811:ios:f8460984522631dd0a4e8e</string>
</dict>
</plist>